<ion-tabs class="tabs-icon-top tabs-stable">
    <ion-tab title="首页" icon="bar-index" href="#/tab/index" badge-style="badge-assertive" on-deselect="clearHistory()">
        <ion-nav-view name="tab-index"></ion-nav-view>
    </ion-tab>
    <ion-tab title="育儿经" icon="bar-Mothering" href="#/tab/Mothering" badge-style="badge-assertive" on-deselect="clearHistory()">
        <ion-nav-view name="tab-Mothering"></ion-nav-view>
    </ion-tab>
    <ion-tab title="记录" icon="bar-Record" href="#/tab/Record" badge-style="badge-assertive" on-deselect="clearHistory()">
        <ion-nav-view name="tab-Record"></ion-nav-view>
    </ion-tab>
    <ion-tab title="客服" icon="bar-CustomerService" href="#/tab/CustomerService" badge-style="badge-assertive" on-deselect="clearHistory()">
        <ion-nav-view name="tab-CustomerService"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" icon="bar-my" href="#/tab/my" badge-style="badge-assertive" on-deselect="clearHistory()">
        <ion-nav-view name="tab-my"></ion-nav-view>
    </ion-tab>
</ion-tabs>
